body {
  background-image: url(../img/bg-default.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  white-space: nowrap;      /* no newline */
  overflow: hidden;         /* crop text */
  text-overflow: ellipsis;  /* ... */
}

.bgmask {
  display: inline-block; /*why*/
  background: rgba(0, 0, 0, .5);
  background-size: cover;
  z-index: -1;
  top: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 1000px;
  margin:0 auto;
}

.stream-item {
  box-sizing: border-box;
  width: 30%;
  float: left;
  margin: 1.66%;
  padding: 0;
}

.thumbnail {
  box-sizing: border-box;
  content: url(../img/thn-default.jpg);
  width: 300px;
}

.meta {
  box-sizing: border-box;
  height: 65px;
  background-color: black;
  opacity: .5;
}

.avatar {
  content: url(../img/avt-default.png);
  float: left;
  opacity: 1;
  width: 45px;
  height: 45px;
  margin: 10px 10px;
  border-radius: 50%;
}

.content {
  width: 230px;
  height: 65px;
  margin-left: 5px;
}

.content p {
  color: white;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.35px;
  margin: 5px;
}

